.sidebar-container{
    width: 25%;
    background-color: #0b42aa;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
}

.sidebar-menus{

}

.sidebar-menu{
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
    padding: 5px;
}

.sidebar-link{
    color: white;
    text-decoration: none;
    align-content: center;
}

.sidebar-link:hover{

}



.sidebar-menu:hover{
    background-color: #0a2e71;
    cursor: pointer;
}

.sidebar-menu:visited{
    background-color:red;
}

.main-container{


}

