.sidebar-container{
    width: 15%;
    background-color: #0b42aa;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
}

.sidebar-menus{

}

.sidebar-menu{
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
    padding: 5px;
}

.sidebar-link{
    color: white;
    text-decoration: none;
    align-content: center;
}

.sidebar-link:hover{

}



.sidebar-menu:hover{
    background-color: #0a2e71;
    cursor: pointer;
}

.sidebar-menu:visited{
    background-color:#ac2a2a;
}

.main-container{


}

/* common php main page css */

.page-container{
    background: green;
    margin-left: 15%;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;   
}


/* nutient page css */

.nutrient-card{
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    background-color: #bbafaf;
    margin: 5px;
}

.nutrient-card-title{

}

.pros-box{
    background-color: #4aa44a;
    border: 1px solid #2f682f;
}

.cons-box{
    background-color: #a44a52;
    border: 1px solid #6c2626;
}

.desc-card{
    padding: 5px;
    margin-top: 5px;
}

.button{
    height: 20px;
    border: 1px solid black;
    font-size: 12px;
    font-weight: bold;
}

.button:hover{
    background: black;
    color: white;
}

.delete{
    background-color: #d23f3f;
    color: #f9f9f9;
}

.delete:hover{
    background-color: rgb(172, 28, 28);
}

.delete:active{
    background-color: rgb(102, 16, 16);
}

.modify{
    background-color: #ca6021;
    color: #f9f9f9;
}

.modify:hover{
    background-color:#b3531a;
}

.modify:active{
    background-color: #863d12;
}